body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#allmap {
    height: 100%;
    width: 100%;
}

#r-result {
    width: 100%;
    font-size: 14px;
}

/*搜索框*/
#container-search {
    margin-top: 20px;
    box-shadow: 5px 5px 5px #888888;
}
#container-search input, #container-search button {
    border-radius: 0;
}

/*导航*/
#container-nav {
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: 5px 5px 5px #888888;
    margin-top: 80px;
}
#container-nav .form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}
#container-nav form select {
    border-radius: 0;
}

#menu {
    padding: 10px 5px;
}

#items {
    /*padding: 5px;*/
}

.item {
    border: 0;
    margin: 0;
}

.item-elem {
    padding: 0;
}

#pagintor {
    margin-top: 10px;
    margin-bottom: 10px;
}