<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--bootstrap-->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <link href="/css/map.css" rel="stylesheet"/>
    <!--baidu-->
    <script src="http://api.map.baidu.com/api?v=2.0&amp;ak=zPOgGmqsFEn0bnR6jN7KG266SaanO10n" type="text/javascript"></script>

    <title>城市名定位</title>
</head>

<body>

    <div id="allmap" class="container-fluid"></div>

    <div id="container-search" class="container navbar-fixed-top col-md-4 col-md-offset-1">
        <div class="row">
            <div>
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search for..."/>
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">&nbsp;搜索&nbsp;</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="container-nav" class="container navbar-fixed-top col-md-3 col-md-offset-1">
        <div class="row">
<!--            <div id="menu" class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button id="type-menu" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        类型 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="type-menu">
                        <li><a href="#">门店</a></li>
                        <li><a href="#">仓库</a></li>
                    </ul>
                </div>

                <div class="btn-group" role="group">
                    <button id="area-menu" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        商圈 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="area-menu">
                        <li><a href="#">鼓楼区</a></li>
                        <li><a href="#">建业区</a></li>
                    </ul>
                </div>
            </div>-->
            <form class="form">
                <div class="form-group col-md-6">
                    <select class="form-control">
                        <option>门店</option>
                        <option>仓库</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <select class="form-control">
                        <option>门店</option>
                        <option>仓库</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="row">
            <div id="items">
            </div>
        </div>
        <div class="row">
            <nav class="text-center" aria-label="Page navigation">
                <ul id="pagintor" class="pagination">
                </ul>
            </nav>
        </div>
    </div>

    <script type="text/template" id="sites">
        <div class="row btn btn-default btn-block item">
            <div class="col-md-2 item-elem">编号</div>
            <div class="col-md-2 item-elem">名称</div>
            <div class="col-md-4 item-elem">经度</div>
            <div class="col-md-4 item-elem">维度</div>
        </div>
        {{ for(var index in it) { }}
            <div class="row btn btn-default btn-block item">
                <div class="col-md-2 item-elem">{{=it[index].id}}</div>
                <div class="col-md-2 item-elem">门店{{=it[index].id}}</div>
                <div class="col-md-4 item-elem">{{=it[index].lng}}</div>
                <div class="col-md-4 item-elem">{{=it[index].lat}}</div>
            </div>
        {{ } }}
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap-paginator.js"></script>
    <!--dot.js-->
    <script src="/js/doT.js"></script>

    <script src="/js/map.js"></script>
</body>

</html>